body ,html{
    height: 100%;
    margin: unset;
    
}
body.homePage{
    position: relative;
    height: unset;
    width: unset;
}
body.registration{
    padding-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b1e698;
    height: unset;

}
body.landing{
   display: flex;
   flex-direction: column;
    /* Full height */
  background-image: url(./Images/landing.jpg);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
ul{
    list-style-type: none; 
}
div.landingHeader {
    margin: auto;
    margin-top: 5%;
    background-color: rgba(128,128,128, 0.2);
    background-blend-mode:lighten;
    font-size: 50px;
    
}
div.logo{
    font-family: "Comic Sans MS", cursive, sans-serif;
    letter-spacing: -1.6px;
    word-spacing: 0.6px;
    -webkit-text-stroke: 2px black; 
    color: #77b55a;
    font-weight: normal;
    font-style: normal;
    font-variant: small-caps;
    text-transform: capitalize;
}
#landingSolgan {
    
    background-color: rgba(128,128,128, 0.1);
    background-blend-mode:lighten;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 25px;
    margin: auto;
    -webkit-text-stroke: 1px black; 
    letter-spacing: -1.6px;
    word-spacing: 0.6px;
    color: #77b55a;
    
    font-weight: normal;
    font-style: normal;
    font-variant: small-caps;
    text-transform: capitalize;
}
div.landing{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
button.registration {
    text-align: center;
    margin-top: 20px;
	background-color:#18ab29;
	border-radius:28px;
	border:1px solid #44c767;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:19px;
	font-weight:bold;
	padding: 19px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
button.registration:hover {
	background-color:#5cbf2a;
}
button.registration:active {
	position:relative;
	top:1px;
}
a.landing {
	box-shadow: 0px 10px 14px -7px #3e7327;
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	background-color:#77b55a;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:21px;
	font-weight:bold;
	padding:18px 53px;
	text-decoration:none;
	text-shadow:-1px 6px 6px #5b8a3c;
}
a.landing:hover {
	background-color:#72b352;
}
a.landing:active {
	position:relative;
	top:1px;
}
div.registration{
    background-color: #72b352;
    margin: 20px;
    border-radius:10px ;
    padding: 20px;
    width: 50%;
    height: 60%;
    max-height: 60%;
}
div.registrationMain{
    background-color: black;
    height: 100px;
    width: 100px;
}
.fieldIcon {
    
    margin-right: 0px;
    max-height: 1%;
    padding: 10px;
    background: #5b8a3c;
    color: white;
    min-width: 50px;
    text-align: center;
  }
  input{
    margin-top: 0px 5px;
    border-radius: 5px;
    width: 50%;
    padding: 10px;
    outline: none;
  }
  input:focus{
      border-color: #5b8a3c ;
      border-style:solid ;
      
  }
  
  select{
    border-radius: 5px;
    width: 52%;
    padding: 10px;
    outline: none;
    margin-left:0px ;
  }
  select:active{
    border-color: #5b8a3c ;
    border-style:solid ;
    
}
#hint{
    display: none;
    
    position: absolute;
    background-color: gainsboro;
    bottom: 0px;
}
div.hintIcon-container{
    position: relative;
    display: inline-block;
}
span.passwordHint{
    position: relative;
    margin: 5px;    
}
span.passwordHint:hover #hint , span.passwordHint:active #hint{display: block;}

fieldset{
    border-radius: 20px;
}
#fname, #lname{
    width: 24%;
}
div.fieldContainer{
    margin:10px;
    display: flex;
    flex-direction: row;
}

div.homePage{
    
    display: inline-block;
    font-size: 30px;
    -webkit-text-stroke: 1px black; 
}
a.nav{
    display: inline-block;
    padding-top: 10px;
    margin-left: 10px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
    letter-spacing: -1.4px;
    word-spacing: 0.8px;
    color: #77b55a;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
}
a.thisPage{
    border-bottom: 4px solid #b7fc97;
    padding-bottom: 3px;
    border-radius: 5px;
}
div.drawer{
    display: none;
    width: 50px;
    height: 50px;
    font-size: 45px;
}
header.homePage{
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div.drawerModal{
    display: none;
    top: 0;
    right: 0;
    text-align: right;
    position: absolute; 
    z-index: 1; 
    width: 100%;
    height: 100%; 
    background-color: rgba(0,0,0,0.4);
}
div.menu{
   border-top-left-radius:20px ;
    right: 0;
    position: fixed;
    background-color: silver;
    height: 100%;
    width: 200px;
}
div.menu-items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#closeDrawer{
    font-size: 30px;
    padding: 20px;
}
.menu-item{
    display: block;    
    margin: 20px;
    margin-top: 40px;
    text-decoration: none;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.thisDrawerPage{
    color: white;
}
main.homePage{
    display: flex;
    flex-direction: ROW;
}
div.insideSection{
    margin: auto;
    -webkit-text-stroke: 2px #558340; 
    top: 50%;
    left: 45%;
    font-size: 50px;
    color: white;
    
}
div.section{
    display: flex;
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed ;
    margin: 20px 0px;
    background-image: url(./Images/sectionOne.jpg);
}
div.imageParent{
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    
}
div.imageChild{
    display: inline-block;
    text-align: center;
    
    border-radius: 20px;
    margin: 10px;
    padding: 10px 0px;
    border: 2px dashed #6ea355 ;
    height: fit-content;
    width: 300px;
    
}
img.imageChild{
    border-radius: 20px;
    max-width: 80%;
}
div.image{
    margin: auto;
    border-radius: 20px;
    background-attachment:local;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 300px;
}
.one{background-image:url(./Images/image.jpg) ;}
.three{background-image:url(./Images/image2.jpg) ;}
.four{background-image:url(./Images/image3.jpg) ;}
.two{background-image:url(./Images/image4.jpg) ;}


footer.homePage{
    margin-top: 30px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    width: 100%;
    height: 500px;
    background-image: url(./Images/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    
}
div.footer{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    position: absolute; 
    z-index: 1; 
    width: 100%;
    height: 100%; 
    background-color: rgba(0,0,0,0.4);
}
div.footer-item{
    margin: 5px;
    padding: 5px;
    display: inline-block;
    padding: 10px;
    width: 200px;
}
span.footer-item-header{
    color: rgb(218, 216, 216);
    font-size: 27px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: block;
}
p.footer-item{
    color: silver;
}
span.footer-item{
    font-size: 30px;
    color: #b7fc97;
}
li.footer-item{
   margin-bottom: 4px; 
}
a.footer-item{
    color: #77b55a;
    font-size: 17px;
    font-weight: 800;
    text-decoration: none;
}
a.footer-item::before{
    content: "\a";
}
@media only screen and (max-width: 650px) {
    div.drawer{
        cursor: pointer;
        display: inline-block;
    }
    a.nav{
        display: none;
    }
    div.footer-item{
        margin-left:20px;
        margin-right:20px;
    }
    div.footer{
        flex-direction: column;
        align-items:flex-start;
    }
    div.imageParent{
        flex-direction: column;
        justify-self: center;
        align-items: center;
    }
    div.imageChild{
        width: 85%;
    }
    div.image{
        width: 400px;
    }
    input{
        display: block;
        margin: 5px;
        width: 80%;
    }
    #fname, #lname{
        width: 80%;
    }
    div.fieldContainer{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        justify-self: center;
        justify-items: center;
    }
    #landingHeader{
        margin-top: 20%;
    }
  }